.bubble {
    position: absolute;
    top: 40px;
    right: -26px;
    background: #fff;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    box-shadow: 0px 0px 17px -19px #A3A3A3;
    text-align: center;
    width: 170px;
    padding: 0px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #fff transparent;
    border-width: 0 9px 11px;
    top: -11px;
    left: 78%;
    margin-left: -9px;
}

.dropdown-content {
    box-shadow: 2px 4px 12px #d9d9d9, -2px 9px 5px #ffffff;
    padding: 20px 0px;
}

.dropdown-btn{
    background: #fff;
    color: #1E3163;
}

.dropdown-btn:hover {
    background: #011B53;
    color: #fff;
}