.form {
    box-shadow: 2px 4px 12px #d9d9d9, -2px 9px 5px #ffffff;
    max-width: 325px;
  }
  .form input {
    border: 1px solid;
  }
  .form input::placeholder{
    font-size: 12px;
  }
  
  .submit-btn{
    background: #1E3163;
  }
  
  @media (max-width:500px) {
    .form{
      box-shadow: none;
      max-width: 350px;
      border: 1px solid #1E3163;
    }
  }
  